<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="http://www.tpshop.com/static/css/shop.css" type="text/css" rel="stylesheet" />
<link href="http://www.tpshop.com/static/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="http://www.tpshop.com/static/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="http://www.tpshop.com/static/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="http://www.tpshop.com/static/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="http://www.tpshop.com/static/js/Sellerber.js" type="text/javascript"></script>
<script src="http://www.tpshop.com/static/js/jquery.dataTables.min.js"></script>
<script src="http://www.tpshop.com/static/js/jquery.dataTables.bootstrap.js"></script>
<script src="http://www.tpshop.com/static/js/layer/layer.js" type="text/javascript"></script>
<script src="http://www.tpshop.com/static/js/laydate/laydate.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="http://www.tpshop.com/static/js/html5shiv.js" type="text/javascript"></script>
<script src="http://www.tpshop.com/static/js/respond.min.js"></script>
<script src="http://www.tpshop.com/static/js/css3-mediaqueries.js"  type="text/javascript"></script>

  <![endif]-->
<title>品牌信息修改</title>
</head>

<body>
<div class="margin" id="page_style">
<div class="add_style">
 <ul>
     <form id="myform" enctype="multipart/form-data">
  <li class="clearfix"><label class="label_name col-xs-1"><i>*</i>品牌名称：&nbsp;&nbsp;</label><div class="Add_content col-xs-11"><input name="b_name" type="text" value="{$b_name}"  class="col-xs-6"/></div></li>
     <li class="clearfix">
         <label class="label_name col-xs-1"><i>*</i>所属分类：&nbsp;&nbsp;</label>
         <div class="col-sm-4" style="width: 220px">
             <input type="text" name="b_id" value="{$b_id}" style="display:none;"/>
             <select class="form-control" style=" width:200px" id="cla_fid">
                 <option selected value="0">请选择商品分类</option>
                 {volist name="re" id="v"}
                 <option value="{$v.cla_id}">{$v.cla_name}</option>
                 {/volist}
             </select>
         </div>
         <div class="col-sm-4" style="float: left;width:220px">
             <select class="form-control" style=" width:200px" id="cla_fid_s">
                 <option selected>请选择商品分类</option>
             </select>
         </div>
         <div class="col-sm-4" style="float: left">
             <select class="form-control" style=" width:200px" id="cla_fid_s1">
                 <option selected>请选择商品分类</option>
             </select>
         </div>
     </li>
     <li class="clearfix">
         <label class="label_name col-xs-1" ><i>*</i>品牌LO：&nbsp;&nbsp;</label>
         <div class="Add_content col-xs-11"><input name="b_logo" type="file" id="b_logo"  class="col-xs-6" /></div>
         <div>
             <img src="{$b_logo}" id="img" width="100" height="100">
         </div>
     </li>
     <li class="clearfix">
         <div class="col-xs-4">
             <label class="label_name col-xs-3">是否推荐：&nbsp;&nbsp;</label>
             <div class="Add_content col-xs-9">
                 {if($b_choose==1)}
                 <label><input type="radio" name="checkbox" class="ace"  checked="checked" value="1"><span class="lbl">是</span></label>
                 <label><input type="radio" name="checkbox" class="ace"  value="0"><span class="lbl">否</span></label>
                 {else /}
                 <label><input type="radio" name="checkbox" class="ace"   value="1"><span class="lbl">是</span></label>
                 <label><input type="radio" name="checkbox" class="ace" checked="checked"  value="0"><span class="lbl">否</span></label>
                 {/if}
             </div>
         </div>
     </li>
     </form>
  </ul>
    <div class="Button_operation btn_width">
    <button class="btn button_btn bg-deep-blue" type="button">保存并修改</button>
    <button class="btn button_btn bg-gray" type="button">取消修改</button>
 </div>
</div>
</div>
</body>
</html>
<script>
/*******滚动条*******/
$("input[name='b_logo']").change(function(){
    var objUrl = getObjectURL(this.files[0]);
    if(objUrl){
        $('#img').attr('src',objUrl);
    }
});
$('.bg-gray').click(function(){
    var index=parent.layer.getFrameIndex(window.name);
    parent.layer.close(index);
});
$('.bg-deep-blue').click(function(){
    var formdata = new FormData();
    // 将文件追加到 formdata对象中。
    formdata.append("myfile",document.getElementById('b_logo').files[0]);
    $.ajax({
        type: "POST",
        url: "http://www.tpshop.com/Admin/Goods/uploadImg",
        data:formdata,
        /**
         * 必须false才会避开jQuery对 formdata 的默认处理
         * XMLHttpRequest会对 formdata 进行正确的处理
         */
        processData: false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType: false,
        dataType: "json",
        success: function(data){
            console.log(data);
            var b_name = $('input[name="b_name"]').val();
            var b_id = $('input[name="b_id"]').val();
            var b_logo = data.mes;
            var b_choose = $('input:radio[name="checkbox"]:checked').val();
            if($("#cla_fid_s1").val() != "请选择商品分类"){
                var cla_id = $("#cla_fid_s1").val();
            }else if($("#cla_fid_s").val() != "请选择商品分类"){
                var cla_id = $("#cla_fid_s").val();
            }else if($("#cla_fid").val() != "0"){
                var cla_id = $("#cla_fid").val();
            }else {
                var cla_id = 0;
            }

            if(b_name.length==0){
                layer.alert('请填写品牌名称');
            }else if(cla_id == 0){
                layer.alert('请选择分类');
            }else {
                $.ajax({
                    url:"http://www.tpshop.com/Admin/Goods/updataBrandInfo",
                    type:"POST",
                    data:{
                        'b_name':b_name,
                        'b_logo':b_logo,
                        'cla_id':cla_id,
                        'b_choose':b_choose,
                        'b_id':b_id
                    },
                    async:true,
                    timeout:5000,
                    dataType:'json',
                    success:function(data){
                        console.log(data);
                        if(data.sess == 1){
                            layer.alert(data.mess,{
                                btn: ['刷新页面'] //按钮
                            }, function(){
                                window.parent.location.reload();
                                var index=parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        }else {
                            layer.alert(data.mess);
                        }
                    }
                });
            }

        },
        error: function(jqXHR){
            alert("发生错误：" + jqXHR.responseText);
        }
    });
});
function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
}
$('#cla_fid_s').change(function () {
    var cla_id = $(this).val();
    if(cla_id != 0){
        $.ajax({
            url:"http://www.tpshop.com/Admin/Goods/select_next",
            type:'POST',
            async:true,
            data:{
                'cla_id':cla_id
            },
            timeout:5000,
            dataType:'json',
            success:function(data){
                if(data.length != 0) {
                    $('#cla_fid_s1').empty();
                    $('#cla_fid_s1').append("<option>请选择商品分类</option>");
                    for(i=0;i<data.length;i++){
                        $('#cla_fid_s1').append("<option value='"+data[i].cla_id+"'>"+data[i].cla_name+"</option>");
                    }

                }else {
                    $('#cla_fid_s1').empty();
                    $('#cla_fid_s1').append("<option>请选择商品分类</option>");
                }
            }
        });
    }else {
        $('#cla_fid_s1').empty();
        $('#cla_fid_s1').append("<option value='0'>请选择商品分类</option>");
    }
})
$('#cla_fid').change(function () {
    var cla_id = $(this).val();
    if(cla_id != 0){
        $.ajax({
            url:"http://www.tpshop.com/Admin/Goods/select_next",
            type:'POST',
            async:true,
            data:{
                'cla_id':cla_id
            },
            timeout:5000,
            dataType:'json',
            success:function(data){
                if(data.length != 0) {
                    $('#cla_fid_s').empty();
                    $('#cla_fid_s').append("<option>请选择商品分类</option>");
                    for(i=0;i<data.length;i++){
                        $('#cla_fid_s').append("<option value='"+data[i].cla_id+"'>"+data[i].cla_name+"</option>");
                    }

                }else {
                    $('#cla_fid_s').empty();
                    $('#cla_fid_s').append("<option>请选择商品分类</option>");
                }
            }
        });
    }else {
        $('#cla_fid_s').empty();
        $('#cla_fid_s').append("<option value='0'>请选择商品分类</option>");
    }
})
</script>