<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>购物车页面</title>

		<link href="/static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="/static/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/cartstyle.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/optstyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="{:request()->domain()}/__JS__/layer/layer.js" type="text/javascript"></script>

	</head>
<style>
	.ment{
		background-color:#F40 ;
		font-size: 1.5em;
		margin-left: 130px;
		width: 80px;
	}
</style>
	<body>
	{include file='index@incloude/heads'/}
			<!--购物车 -->
			<div class="concent">
				<div id="cartTable">
					<div class="cart-table-th">
						<div class="wp">
							<div class="th th-chk">
								<div id="J_SelectAll1" class="select-all J_SelectAll">

								</div>
							</div>
							<div class="th th-item">
								<div class="td-inner">商品信息</div>
							</div>
							<div class="th th-price">
								<div class="td-inner">单价</div>
							</div>
							<div class="th th-amount">
								<div class="td-inner">数量</div>
							</div>
							<div class="th th-sum">
								<div class="td-inner">金额</div>
							</div>
							<div class="th th-op">
								<div class="td-inner">操作</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="bundle-hd">
							</div>
						</div>
					</tr>
					<div class="clear"></div>
					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="bundle-main">
								<div id="carList">

								</div>
								{foreach $arr as $a}
								{if ($a.spec_id==0)}
								<div class="item-pic">
									购物车还是空的
								</div>
								{else /}
					<ul class="item-content clearfix">
									<li class="td td-item">
						<div class="item-pic">
							<input type="text" value="{$a.spec_id}" name="spec_id" style="display: none"/>
							<a href="#" target="_blank" data-title="" class="J_MakePoint" data-point="tbcart.8.12">
								<img src="{$a.img}" name="image" id="image" class="itempic J_ItemImg" style="width: 80px;height: 80px;"></a>
						</div>
						<div  class="item-info">
							<div class="item-basic-info" >
								<a href="#" target="_blank" id="name" name="name"  class="item-title J_MakePoint" data-point="tbcart.8.11">{$a.gname}</a>
							</div>
						</div>
					</li>
						<li class="td td-info">
							<div class="item-props item-props-can">
								<span  class="sku-line"></span>
								<span class="sku-line" name="pec" id="pec">{$a.pec}</span>
							</div>
						</li>
						<li class="td td-price">
							<div class="item-price price-promo-promo">
								<div class="price-content">
									<div class="price-line">
										<em class="J_Price price-now" name="price" id="price" tabindex="0">{$a.gprice}</em>
									</div>
								</div>
							</div>
						</li><li class="td td-amount">

							<div class="amount-wrapper ">
								<div class="item-amount ">
									<div class="sl">
										<input  class="am-btn am-btn-default" name="jian" type="button" value="-" /><input  name="num" class="aaa" type="text" value="{$a.num}" style="width:30px;" /><input  class="am-btn am-btn-default" name="jia" type="button" value="+" />

									</div>
								</div>
							</div>
						</li><li class="td td-sum">

							<div class="td-inner">
								<em tabindex="0" class="J_ItemSum number" name="price1" id="price1">111</em>
							</div>
						</li>
									<li class="td td-op">
										<div class="td-inner">

											<a href="javascript:;" data-point-url="#" class="delete">
                  删除</a>
										</div>
									</li>
								</ul>
								{/if}
								{/foreach}
							</div>
						</div>
					</tr>
				</div>
				<div class="clear"></div>

				<div class="float-bar-wrapper">
					<div id="J_SelectAll2" class="select-all J_SelectAll">
						<div class="cart-checkbox">
							<input class="check-all check" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
							<label for="J_SelectAllCbx2"></label>
						</div>
						<span>全选</span>
					</div>

					<div class="float-bar-right">
						<div class="amount-sum">
							<span class="txt">已选商品</span>
							<em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
							<div class="arrow-box">
								<span class="selected-items-arrow"></span>
								<span class="arrow"></span>
							</div>
						</div>
						<div class="price-sum">
							<span class="txt">合计:</span>
							<strong class="price">¥<em id="J_Total">0.00</em></strong>
						</div>
						<div>
							<button class="ment" name="Settlement" id="Settlement">去结算</button>

						</div>

					</div>

				</div>

				{include file='index@incloude/footer' /}

			</div>
	<script type="application/javascript">
		$(document).ready(function () {
		    var num = 0;
		    var u = $('em[name="price1"]').length;
		    for(i=0;i<u;i++){
		        var pre = parseInt($('.price-now').eq(i).text());
		        var nu  = $(".aaa").eq(i).val()
				var he  = pre*nu;
                $('.number').eq(i).text(he)
		        num += parseInt($('.number').eq(i).text());
			}
			$("#J_Total").text(num);
        })
	$("input[name='jia']").click(function () {
         var you= $(this).prev().val();
         you++;
        $(this).prev().val(you)
		var pre = $(this).parent().parent().parent().parent().prev().children().children().children().children().text();
		var num = parseInt(pre)*you;
        var he = $(this).parent().parent().parent().parent().next().children().children().text(num);/*.parent("em[name='price1']").text();*/

        var num1 = 0;
        var u = $('em[name="price1"]').length;
        for(i=0;i<u;i++){
            var pre = parseInt($('.price-now').eq(i).text());
            var nu  = $(".aaa").eq(i).val()
            var he  = pre*nu;
            $('.number').eq(i).text(he)
            num1 += parseInt($('.number').eq(i).text());
        }
        $("#J_Total").text(num1);

     });
	$("input[name='jian']").click(function () {
		var you = $(this).next().val();
		if(you==1){
		    layer.alert("最后一个了");
		}else {
		    you--;
            $(this).next().val(you);
            var pre = $(this).parent().parent().parent().parent().prev().children().children().children().children().text();
            var num = parseInt(pre)*you;
            var he = $(this).parent().parent().parent().parent().next().children().children().text(num);/*.parent("em[name='price1']").text();*/

            var num1 = 0;
            var u = $('em[name="price1"]').length;
            for(i=0;i<u;i++){
                var pre = parseInt($('.price-now').eq(i).text());
                var nu  = $(".aaa").eq(i).val()
                var he  = pre*nu;
                $('.number').eq(i).text(he)
                num1 += parseInt($('.number').eq(i).text());
            }
            $("#J_Total").text(num1);

        }
    });
        $(".deleteAll").click(function () {
            alert(111);
                $.ajax({
                    url: "http://www.tpshop.com/index/Shopcart/date",
                    type: 'POST',
                    astype: 'true',
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: {
                        'pec':pec
                    },
                    async: true,
                    timeout: 5000,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                    }
                })
            });


   $("#Settlement").click(function() {
       var u = $('em[name="price1"]').length;
       var arr = new Array();
       var arrp = new Array();
       var arru = new Array();
       arr[0]=arrp;
       arr[1]=arru;
       for(i=0;i<u;i++){
           arr[0][i]=$("input[name='spec_id']").eq(i).val()
           arr[1][i] = $(".aaa").eq(i).val()
       }

       window.location.href = "http://www.tpshop.com/Index/Order/intocart?data="+JSON.stringify(arr);
   });






       /*$("#Settlement").click(function(){
            $.ajax({
                url:"http://www.tpshop.com/index/Shopcart/seet",
                type:'POST',
                async:'ture',
                data:{},
                success:function(data){
                    alert(data);
                }
            });
        });*/
	</script>
	</body>
</html>