<div class="footer">
    <div class="footer-hd">
        <p>
            <a href="#">恒望科技</a>
            <b>|</b>
            <a href="#">商城首页</a>
            <b>|</b>
            <a href="#">支付宝</a>
            <b>|</b>
            <a href="#">物流</a>
        </p>
    </div>
    <div class="footer-bd">
        <p>
            <em>地址：{$sit_site}</em>
            <em>客服QQ：{$sit_qq}</em>
            <em>公司电话：{$sit_tel}</em>
            <em>公司手机：{$sit_phone}</em>
            <em>© 2018-2028 www.tpshop.com 版权所有. 保留一切权利 备案号:{$sit_filing}</em>
        </p>
    </div>
</div>